<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <param name="use_sim_time" value="true" /> 

  <node pkg="rovio" type="rovio_node" name="rovio" output="screen">
  <param name="filter_config" value="$(find rovio)/cfg/f1tenth/rovio_test.info"/>
  <param name="camera0_config" value="$(find rovio)/cfg/f1tenth/rovio_cam0.yaml"/>
  <param name="camera1_config" value="$(find rovio)/cfg/f1tenth/rovio_cam1.yaml"/>
  <remap from="cam0/image_raw" to="camera/infra1/image_rect_raw" />
  <remap from="cam1/image_raw" to="camera/infra2/image_rect_raw" />
  <remap from="imu0" to="camera/imu" />
  </node>
</launch>
